.profile__edit-button {
  background-color: inherit;
  border: solid 1px #fff;
  background-image: url(../../../images/pancil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  grid-area: profile__edit-button;
  width: 24px;
  height: 24px;
  transition: opacity .2s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media all and (max-width: 950px) {
  .profile__edit-button {
    margin-top: 8px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
