.card__reaction {
  border: none;
  background-color: inherit;
  background-image: url(../../../images/heart.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .2s linear;
  cursor: pointer;
}

.card__reaction:hover {
  opacity: .5;
}
