.card__remove {
  visibility: hidden;
  border: none;
  background-color: inherit;
  background-image: url(../../../images/removebutton.svg);
  width: 18px;
  height: 19px;
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s linear;
  cursor: pointer;
  z-index: 2;
}

.card__remove:hover {
  opacity: 0.5;
}
