.profile__block {
  display: flex;
  position: relative;
}

@media all and (max-width: 1100px) {
  .profile__block {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 27px;
  }
}
