.profile__name {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  grid-area: profile__name;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 950px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    justify-self: center;
  }
}
