.profile__info {
  display: grid;
  grid-template: repeat(2, 1fr) / 7% 1fr 7%;
  grid-template-areas:
    "profile__name profile__name profile__edit-button"
    "profile__contact-info profile__contact-info .";
  width: 336px;
  margin: 22px 0 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 950px) {
  .profile__info {
    grid-template: repeat(2, 1fr) / 8% 1fr 8%;
    grid-template-areas:
      ". profile__name profile__edit-button"
      ". profile__contact-info .";
    width: 247px;
    margin: 0;
    justify-self: center;
  }
}
