.profile__info {
  display: grid;
  grid-template: repeat(2, 1fr) / 24px 1fr 24px;
  grid-template-areas:
    "profile__name profile__name profile__edit-button"
    "profile__contact-info profile__contact-info .";
  width: 336px;
  margin: 22px 0 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 950px) {
  .profile__info {
    grid-template: repeat(2, 1fr) / 18px 1fr 18px;
    grid-template-areas:
      ". profile__name profile__edit-button"
      ". profile__contact-info .";
    width: 247px;
    margin: 0;
    justify-self: center;
  }
}
