.profile__info {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 336px;
  margin: 22px 0 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 1100px) {
  .profile__info {
    max-width: 260px;
    padding: 0 28px;
    flex-direction: column;
    justify-content: center;
    margin: 26px auto 0;
  }
}
