.profile__contact-info {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  grid-area: profile__contact-info;
  margin-top: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 950px) {
  .profile__contact-info {
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
    margin-top: 8px;
  }
}
