.popup {
  display: grid;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .2s linear, visibility 0.2s linear;
}
